<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
<div align="center">
<div>
	<h1>Update Organigramme</h1>
	<form th:action="@{/savvvvv}" methode="post"
				th:object="${organigramme}">
				<table class="table" border="1" cellpadding="10">
				
				 <tr>
							<td>Nom_organigrame</td>
							<td><input type="text" th:field="*{nom_organigrame}" /></td>
						</tr>
	
                           <tr>
							<td>Adresse</td>
							<td><input type="text" th:field="*{adresse}" /></td>
						</tr>
								
                           <tr>
							<td>Email</td>
							<td><input type="text" th:field="*{email}" /></td>
						</tr>
								
                           <tr>
							<td>Tel</td>
							<td><input type="text" th:field="*{tel}" /></td>
						</tr>
							<td><button class="btn btn-primary" type="submit">Save</button></td>						
		</table>
			</form>

		</div>
</body>
</html>