<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>edite pfe</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div align="center">
<div>
<h1>Update Pfe</h1>
<form th:action="@{/saveeee}" methode="post" th:object="${pfe}">
	<table class="table" border="1" cellpadding="10">	

                    

 <tr>
							<td>Date_soutenance</td>
							<td><input type="text" th:field="*{date_soutenance}" /></td>
						</tr>



                         <td>heure_soutenance</td>
							<td><input type="text" th:field="*{heure_soutenance}" /></td>
						</tr>
							<td>SALLE</td>
							<td><input type="text" th:field="*{salle}" /></td>
						</tr>
							<td>NOTE</td>
							<td><input type="text" th:field="*{note}" /></td>
						</tr>
							<td>ETAT</td>
							<td><input type="text" th:field="*{etat}" /></td>
						</tr>
								<td><button class="btn btn-primary" type="submit">Save</button></td>				 

</table>
					</form>
					</div>

</body>
</html>