<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"
	rel="stylesheet" />

<title>Insert title here</title>
</head>
<body>
<div align="center">
		<div>
			<form th:action="@{/savee}" methode="post" th:object="${section}">
				<table cellpadding="10">
					<table class="table" border="1" cellpadding="10">
					<tr>

						 

							<td>Nom_section</td>
							<td><input type="text" th:field="*{nom_section}" /></td>
						</tr>
											<tr>

							<td>Duree_pfe</td>
							<td><input type="text" th:field="*{duree_pfe}" /></td>
						</tr>
											<tr>

							<td>Duree_soutnance</td>
							<td><input type="text" th:field="*{duree_soutnance}" /></td>
						</tr>
						<td><button class="btn btn-primary" type="submit">Save</button></td>
</body>
</html>