<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<title>speti</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"
	rel="stylesheet" />
</head>
<body>
<div align="center">
<div>
			<form th:action="@{/autosauv}" methode="post" th:object="${spetialite}">
				<table cellpadding="10">
					<table class="table" border="1" cellpadding="10">

      	
	                 	<tr>
							<td>Nom_Spetialite</td>
							<td><input type="text" th:field="*{nom_spetialite}" /></td>
						</tr>			
					<td><button class="btn btn-primary" type="submit">Save</button></td>
					</table>
					</form>
					</div>



</body>
</html>